<nav class="bg-[#5EB1BF] text-[#242423] font-bold top-0 w-screen h-18
			relative flex items-center justify-between">
	<div class="flex gap-4 ml-4">
		<button id="menu-toggle" class="group cursor-pointer">
			<img 
				src="../assets/menu-icon-default.png"
				alt="Menu icon"
				id="menu-icon"
				class="select-none h-10 w-10 object-contain trnasition duration-200 group-hover:brightness-50"
			/>
		</button>
	</div>
	<a href="#home"  class="flex items-center gap-2 ml-2 absolute left-1/2 transform -translate-x-1/2">
		<button class="flex items-center gap-2 p-2 cursor-pointer">
			<img src="../assets/PONG-ICON-3.png" alt="Pong-icon"
		 			class="select-none h-16 w-16 object-contain">
		</button>
	</a>
	<div id="user-section" class="flex gap-4 mr-4">
		<!-- Divided into 2 files -->
  	</div>
</nav>