<div id="signup-modal" class="fixed inset-0 bg-black/75 bg-opacity-50 flex items-center justify-center z-50 hidden">
    <form id="signup-form" class="space-y-3 text-white bg-[#242423] rounded-lg shadow-lg w-full max-w-sm p-6">
      <h2 class="text-xl font-bold mb-4 text-white">Sign Up</h2>
      <input id="signup-usernama" type="text" placeholder="Username" class="w-full p-2 border rounded border-amber-400" />
      <input id="signup-email" type="email" placeholder="Email" class="w-full p-2 border rounded border-amber-400" />
      <input id="signup-password" type="password" placeholder="Password" class="w-full p-2 border rounded border-amber-400" />
      <div class="flex justify-center-safe gap-2">
        <button type="button" id="cancel-signup" class="px-4 py-2 border rounded border-amber-400 hover:bg-amber-400">Cancel</button>
        <button type="submit" class="px-4 py-2 bg-amber-400 text-black rounded hover:bg-amber-500">Register</button>
      </div>
    </form>
</div>